@model DOANTKW.Models.SanPham

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<h2>Detail</h2>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto mt-5">
            <div class="card">
                <img src="/Images/@Model.Anh" class="card-img-top img-fluid" alt="Hình ảnh sản phẩm">
                <div class="card-body">
                    <h5 class="card-title">@Model.TenSP</h5>
                    <p class="card-text">@Model.MoTa</p>
                    <p class="card-text"><strong> $@Model.GiaBan</strong></p>
                    <a href="~/GioHang/ThemGioHang?ms=@Model.MaSP&strURL=@Request.Url.ToString()">
                        <button class="btn btn-primary">Mua Ngay</button>
                    </a>

                    
                </div>
            </div>
        </div>
    </div>
</div>



</html>
